/* COLOR NAME */
/* h1{
    color: tomato;
} */
/* HEX CODE */
/* h1{
    color: #644796;
} */

/* RGB */
/* h1{
    color: rgb(90, 86, 789);
} */

/* BACKGROUND COLOR */
/* body{
    background-color: yellow;
    color: red;
} */

/* div{
    background-color: aqua;
    color: red;
} */

/* #div1{
    background-color: green;
    opacity: 0.5;
} */

/* img{
    opacity: 0.4;
} */